.wrapper-3NnKdC {
  width: 184px;
}

.scrollerWrap-1IAIlv {
  width: calc(184px + 6px);
}

.wrapper-3NnKdC .scroller-1Bvpku {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper-3NnKdC .scroller-1Bvpku > div:not(.listItem-GuPuDH) > div {
  width: 50px;
  margin-left: 10px;
}

.listItem-GuPuDH {
  width: auto;
  margin-left: 0px;
}

.wrapper-3NnKdC .scroller-1Bvpku > div.listItem-GuPuDH:nth-child(1) {
  width: 100% !important;
  margin-bottom: 8px;
  margin-left: 2px;
}

.wrapper-sa6paO {
  height: 54px;
  width: 54px;
}

.pill-31IEus {
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper-3NnKdC .scroller-1Bvpku .guildSeparator-33mFX6 {
  position: relative;
  margin-top: 10px;
  width: 80px;
  display: block;
  margin: 10px auto 5px;
  margin-left: 24px;
  background-color: transparent;
}

.wrapper-21YSNc {
  position: relative;
  width: auto;
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.item-2hkk8m {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--unread-color);
  background: transparent;
  border-radius: 100%;
  display: block;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: -2px;
  right: 3px !important;
  width: 48px;
  height: 48px !important;
  transform: none !important;
}

.item-2hkk8m:not([style*="height: 8px"]) {
  border-color: transparent;
  background-color: transparent;
}

.pill-1m5BUr {
  display: none;
}

.wrapper-3NnKdC .scroller-1Bvpku > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expandedFolderBackground-2sPsd- {
  left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  right: 5px;
}

.wrapper-sa6paO {
  overflow: visible;
}

.expandedFolderBackground-1cujaW {
  left: 1px;
}

.wrapper-3NnKdC
  .scroller-1Bvpku
  div
  .listItem-GuPuDH
  .pill-1Z5PKm
  .item-2hkk8m {
  opacity: 0 !important;
}

.tree-2wKJdG:focus {
  outline: none;
}