.wrapper_ef3116 {
  width: var(--server-listing-width);
}

.scrollerWrap-1IAIlv {
  width: calc(var(--server-listing-width) + 6px);
}

.wrapper_ef3116 .scroller_ef3116 {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper_ef3116 .scroller_ef3116 > div:not(.listItem-GuPuDH) > div {
  width: 50px;
  margin-left: 10px;
}

.listItem-GuPuDH {
  width: auto;
  margin-left: 0px;
}

.wrapper_ef3116 .scroller_ef3116 > div.listItem-GuPuDH:nth-child(1) {
  width: 100% !important;
  margin-bottom: 8px;
  margin-left: 2px;
}

.wrapper__58105 {
  height: 54px;
  width: 54px;
}

.pill-31IEus {
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper-21YSNc {
  position: relative;
  width: auto;
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.item__58105 {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--unread-color);
  background: transparent;
  border-radius: 100%;
  display: block;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: -2px;
  right: 3px !important;
  width: 48px;
  height: 48px !important;
  transform: none !important;
}

.wrapper_ef3116
  .scroller_ef3116
  > div.listItem-GuPuDH:nth-child(1)
  .item__58105 {
  opacity: 0 !important;
}

.item__58105:not([style*="height: 8px"]) {
  border-color: transparent;
  background-color: transparent;
}

.pill-1m5BUr {
  display: none;
}

.wrapper_ef3116 .scroller_ef3116 > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expandedFolderBackground-2sPsd- {
  left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  right: 5px;
}

.expandedFolderBackground-1cujaW {
  left: 1px;
}

.wrapper_ef3116
  .scroller_ef3116
  div
  .listItem-GuPuDH
  .pill_ed9a5f
  .item__58105 {
  opacity: 0 !important;
}

.tree_ef3116:focus {
  outline: none;
}

.folderIconWrapper-1_bOZe {
  border-radius: 100%;
}

.folder-1hbNCn {
  border-radius: 100%;
}

.wrapper__58105 {
  overflow: visible;
}

.pill_ed9a5f .item__58105 {
  opacity: 0 !important;
}

.tutorialContainer__1f388 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tutorialContainer__1f388 .listItem-GuPuDH {
  right: 5px;
}

.listItem__650eb {
  width: initial;
}

.expandedFolderBackground__48112 {
  left: 0px;
}

.folder__48112,
.folderIconWrapper__48112 {
  border-radius: 100%;
}

.guildSeparator__252b6 {
  background-color: transparent;
}
