.wrapper_a7e7a8 {
  width: var(--server-listing-width);
}

.scrollerWrap-1IAIlv {
  width: calc(var(--server-listing-width) + 6px);
}

.wrapper_a7e7a8 .scroller__3d071 {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper_a7e7a8 .scroller__3d071 > div:not(.listItem-GuPuDH) > div {
  width: 50px;
  margin-left: 10px;
}

.listItem-GuPuDH {
  width: auto;
  margin-left: 0px;
}

.wrapper_a7e7a8 .scroller__3d071 > div.listItem-GuPuDH:nth-child(1) {
  width: 100% !important;
  margin-bottom: 8px;
  margin-left: 2px;
}

.wrapper__3670f {
  height: 54px;
  width: 54px;
}

.pill-31IEus {
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper_a7e7a8 .scroller__3d071 .guildSeparator__641a8 {
  position: relative;
  margin-top: 10px;
  width: 80px;
  display: block;
  margin: 10px auto 5px;
  margin-left: 24px;
  background-color: transparent;
}

.wrapper-21YSNc {
  position: relative;
  width: auto;
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.item_f9d377 {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--unread-color);
  background: transparent;
  border-radius: 100%;
  display: block;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: -2px;
  right: 3px !important;
  width: 48px;
  height: 48px !important;
  transform: none !important;
}

.wrapper_a7e7a8
  .scroller__3d071
  > div.listItem-GuPuDH:nth-child(1)
  .item_f9d377 {
  opacity: 0 !important;
}

.item_f9d377:not([style*="height: 8px"]) {
  border-color: transparent;
  background-color: transparent;
}

.pill-1m5BUr {
  display: none;
}

.wrapper_a7e7a8 .scroller__3d071 > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expandedFolderBackground-2sPsd- {
  left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  right: 5px;
}

.expandedFolderBackground-1cujaW {
  left: 1px;
}

.wrapper_a7e7a8
  .scroller__3d071
  div
  .listItem-GuPuDH
  .pill__357e7
  .item_f9d377 {
  opacity: 0 !important;
}

.tree__7a511:focus {
  outline: none;
}

.folderIconWrapper-1_bOZe {
  border-radius: 100%;
}

.folder-1hbNCn {
  border-radius: 100%;
}

.wrapper__3670f {
  overflow: visible;
}

.listItem__3876c {
  width: initial;
}

.pill__357e7 .item_f9d377 {
  opacity: 0 !important;
}

.tutorialContainer__890ea {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tutorialContainer__890ea .listItem-GuPuDH {
  right: 5px;
}

.listItem_fa7b36 {
  width: initial;
}

.expandedFolderBackground__1bec6 {
  left: 0px;
}

.folder__17546,
.folderIconWrapper__72239 {
  border-radius: 100%;
}

.guildSeparator_dcb3cc {
  background-color: transparent;
}
