.wrapper-1_HaEi {
  width: var(--server-listing-width);
}

.scrollerWrap-1IAIlv {
  width: calc(var(--server-listing-width) + 6px);
}

.wrapper-1_HaEi .scroller-3X7KbA {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper-1_HaEi .scroller-3X7KbA > div:not(.listItem-GuPuDH) > div {
  width: 50px;
  margin-left: 10px;
}

.listItem-GuPuDH {
  width: auto;
  margin-left: 0px;
}

.wrapper-1_HaEi .scroller-3X7KbA > div.listItem-GuPuDH:nth-child(1) {
  width: 100% !important;
  margin-bottom: 8px;
  margin-left: 2px;
}

.wrapper-z5ab_q {
  height: 54px;
  width: 54px;
}

.pill-31IEus {
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper-1_HaEi .scroller-3X7KbA .guildSeparator-2ULOMe {
  position: relative;
  margin-top: 10px;
  width: 80px;
  display: block;
  margin: 10px auto 5px;
  margin-left: 24px;
  background-color: transparent;
}

.wrapper-21YSNc {
  position: relative;
  width: auto;
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.item-2LIpTv {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--unread-color);
  background: transparent;
  border-radius: 100%;
  display: block;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: -2px;
  right: 3px !important;
  width: 48px;
  height: 48px !important;
  transform: none !important;
}

.wrapper-1_HaEi
  .scroller-3X7KbA
  > div.listItem-GuPuDH:nth-child(1)
  .item-2LIpTv {
  opacity: 0 !important;
}

.item-2LIpTv:not([style*="height: 8px"]) {
  border-color: transparent;
  background-color: transparent;
}

.pill-1m5BUr {
  display: none;
}

.wrapper-1_HaEi .scroller-3X7KbA > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expandedFolderBackground-2sPsd- {
  left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  right: 5px;
}

.expandedFolderBackground-1cujaW {
  left: 1px;
}

.wrapper-1_HaEi
  .scroller-3X7KbA
  div
  .listItem-GuPuDH
  .pill-22lZHo
  .item-2LIpTv {
  opacity: 0 !important;
}

.tree-3agP2X:focus {
  outline: none;
}

.folderIconWrapper-1_bOZe {
  border-radius: 100%;
}

.folder-1hbNCn {
  border-radius: 100%;
}

.wrapper-z5ab_q {
  overflow: visible;
}

.listItem-1d8GP4 {
  width: initial;
}

.pill-22lZHo .item-2LIpTv {
  opacity: 0 !important;
}

.tutorialContainer-1pL9QS {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tutorialContainer-1pL9QS .listItem-GuPuDH {
  right: 5px;
}

.listItem-3SmSlK {
  width: initial;
}

.expandedFolderBackground-1kSAf6 {
  left: 0px;
}

.folder-241Joy,
.folderIconWrapper-1oRIZr {
  border-radius: 100%;
}

.guildSeparator-a4uisj {
  background-color: transparent;
}
